* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.u-i {
	width: 30%;
	height: 100%;
}

.u-i button {
	display: block;
	margin: 10px auto;
	font-size: 25px;
	padding: 3px;
}

.canvas {
	width: 65%;
}

canvas {
	border: 1px solid #000;
}